.container {
    height: 500px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.first {
    margin-top: 160px;
}

.poster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    gap: 10px;
    box-shadow: 0px 0.1px black;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 7px
}

.poster .perfil > p {
    font-size: 10px !important;
    color: rgb(107, 107, 107);
}

p {
    font-size: 14px !important;
    color: rgb(107, 107, 107);
}

.poster  strong {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.623) !important;
}

mat-icon {
    color: rgb(107, 107, 107);
}