<mat-card class="container first mat-elevation-z3">
    <div class="poster">
        <div class="perfil">
            <mat-icon>person</mat-icon>
            <p><strong>Clube Agro Brasil</strong><br>há 50min</p>
        </div>
        <mat-icon>more_horiz</mat-icon>
    </div>
    <h4>ClubeON: o canal de notícias AGFeed e Clube Agro Brasil</h4>
    <p>Vai dar o que falar!</p>
    <p>Agora, para se informar sobre o agronegócio e tudo o que o cerca, você com o ClubeOn, o canel de notícicas AGFeed e Clube Agro Brasil.</p>
    <p>Toda semana, acompanhe matérias e reportagens sobre economia, ESG, negócios e muito mais.</p>
    <p>Acesse já e leve a informação com você</p>
    <a href="mailto:www.agfee.com.br"></a>
    <h6>Ver menos</h6>
</mat-card>
<mat-card class="container mat-elevation-z3">
    <div class="poster">
        <div class="perfil">
            <mat-icon>person</mat-icon>
            <p><strong>Rede UMA</strong><br>1 sem</p>
        </div>
        <mat-icon>more_horiz</mat-icon>
    </div>
</mat-card>
<mat-card class="container mat-elevation-z3">
    <div class="poster">
        <div class="perfil">
            <mat-icon>person</mat-icon>
            <p><strong>Brevant sementes</strong><br>1 dia</p>
        </div>
        <mat-icon>more_horiz</mat-icon>
    </div>
</mat-card>