.container {
    display: grid;
    height: auto;
    background-color: white;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
}

.container > h6 {
    color: rgb(107, 107, 107);
}

.container .content img {
    width: 100%;
    border-radius: 5px;
} 

.poster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    gap: 10px;
    border-bottom: 0.1px solid rgb(230, 230, 230);
}

.poster .person {
    display: flex;
    align-items: center;
    gap: 7px
}

.poster .person > p {
    font-size: 10px !important;
    color: rgb(107, 107, 107);
}

p {
    font-size: 14px !important;
    color: rgb(107, 107, 107);
    top: 0;
}

.poster  strong {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.623) !important;
}

mat-icon {
    color: rgb(107, 107, 107);
}

.reaction {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reaction .event {
    display: flex;
    align-items: center;
    gap: 8px
}

.reaction .event .thumb {
    cursor: pointer;
    color:  rgb(41,154,57);
    transform: scale(1.1);
    transition: calc(0.5s);
}

.reaction .bookmark {
    cursor: pointer;
    color:  rgb(41,154,57) !important;
    transform: scale(1.1);
    transition: calc(0.5s);
} 

